@media only screen and (max-width: 10000px) {
    body {
        
        background-color: #07325f;
        margin: 0;
        padding: 0;
    }
    header{
       
        text-align: center;
        display: flexbox;
        box-shadow: 0px 3px 3px #05213e ;
    }
    header .logo{
        width: 80px;
        border-radius: 100px; /* Adjust the value to control the amount of rounding */
      position: relative ;
      border: px solid black;
    }
   
    .go h1{
        position: absolute;
        top: 10px;
        color: #d1dde2;
        font-size: 23px;  
        left: 29px;
    }
    .go svg{
        position: absolute;
        top: 30px;
        color: #d1dde2;
        left: 06px;
    }
    .go2{
        display: flex;
    }
    .go2 h2{
        position: absolute;
        top: 7px;
        color: #d1dde2;
        font-size: 23px;  
        right: 29px;
    }
    .go2 svg{
        position: absolute;
        top: 30px;
        color: #d1dde2;
        right: 06px;
    }
    .go2{
        display: flex;
    }
    .topic{
        align-items: center;
        text-align: center;
    }
    .topic h1{
        color: #d1dde2;
        font-size: 30px;
        
    }
    .products {
        display: flex;
        height: 200vh;
        justify-content: center;
    }
    
    .card2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        height: 100px; /* Adjusted height to accommodate content */
    }
    
    .card {
        background-color: #ebe5e5;
        padding: 10px;
        box-shadow: 0 10px 18px rgb(118, 116, 116);
        text-align: center;
        height: 200px; 
        transition: 0.5s;
    }
    
    .card p {
        text-align: left;
        margin: 0;
        padding: 0;
    }
    
    .card img {
        width: 150px;
        height: auto;
        display: block;
        transition: 0.3s;
        /* Add margin to separate image and text */
    }
    
    .card h1 {
        margin-top: 5px; /* Adjusted margin to separate image and title */
    }
    

    .card:hover{
        transform: scale(1.06);
    }
    .pop-img{
        position: fixed ;
        top: 0;
        left: 0;
        background-color: rgba(52, 52, 52, 0.5);
      
        backdrop-filter: blur(10px); 
        height: 100% ;
        width: 100%;
        z-index: 100;
        display: none;
       
        
      }
       .pop-img span{
        position: absolute;
        top: 0px ;
        right: 10px;
        font-size: 60px;
        font-weight: bolder;
        color: rgb(0, 0, 0) ;
        cursor: pointer;
        z-index: 100;
      
      }
       .pop-img img{
        position: absolute;
        top: 50%;
        left: 50%;
       
        transform:translate(-50%,-50%) ;
  
        width: 100%;
        object-fit: cover;
        
      }
        
}